.container {
  /* direction: rtl; */
  padding: 0 0 200px 0;
}
#form {
  margin: 0 0 50px 0;
}

.submit-btn:hover {
  background-color: black;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-link {
  margin: 20px 0 0 0;
}

.jumbo {
  padding: 20px;
}

@media (max-width: 767px) {
  .image-link {
    width: 100%;
  }

  .image-link img {
    width: 100%;
    height: 300px;
  }
}
